{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "rules": {
    "no-unused-vars": [1, {"vars": "local", "args": "none"}]
  },
  "globals": {
    "$": true,
    "expect": true,
    "exports": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "fixture": true,
    "jasmine": true,
    "jQuery": true
  }
}
